.slider__container {
    width: 100%;
    height: 87vh;
    overflow: hidden;
}
.slides {
    width: 300%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}
.slide{
    width: calc(100% / 3);
    position: relative;
    transition: 2s ease-out;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);  
    overflow: hidden;
}
.overlay::after {
    content: 'Esportes unem pessoas de todas as idades';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F4F4F4;
    font-size: 64px;
    line-height: 78px;
    font-weight: 700;

}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.manual__navigation {
    position: absolute;
    width: inherit;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    column-gap: .3rem;
}
.manual-btn {
    background: white;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}
.manual-btn:hover {
    background: white;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -33.3333%
}
#radio3:checked ~ .first {
    margin-left: -66.6666%
}


.radio__slides {
    margin-left: 0;
}

.navigation__auto div {
    border: 0 solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.navigation__auto {
    position: absolute;
    width: 100%;
    margin-top: 82.5vh;
    display: flex;
    justify-content: center;
    column-gap: .3rem;
}

@media (max-width:1100px) {
    .overlay::after {
        font-size: 4rem;
        line-height: 4rem;
        
    }
}
@media (max-width:600px) {
    .overlay::after {
        font-size: 3rem;
        line-height: 3rem;
        
    }
}