.servicos {
    height: 100vh;
    background: radial-gradient(circle, #103356 0%, #06121E 100%);
    display: flex;
    justify-content: center;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .sub__title {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #F4F4F4;
    width: 100%;
    text-align: start;
}
.content .sub__title::after {
    content: '';
    display: block;
    width: 5rem;
    height: 5px;
    background-color: #F4F4F4;
}
.carrossel .card {
    width: 251px;
    height: 265px;
    border-radius: 10px;
    background-color: #F4F4F4;
    
}
.carrossel .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.carrossel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}


.carrossel > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .8rem;
}
.carrossel > :nth-child(2) h3 {
    font-size: .875rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: #06121E;
    margin: 0;
}
.carrossel > :nth-child(2) p {
    font-size: .675rem;
    line-height: .9rem;
    color: #06121E;
    text-align: center;
}
.carrossel > :nth-child(2) button {
    padding: .4rem 3rem;
    border: none;
    border-radius: 15px;
    background: linear-gradient(to right, #085EB3 0%, #103356 50%,#06121E
    100% );
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 700;
    color: #F4F4F4;  
}
.carrossel > :nth-child(2).ativo {
    width: 547px;
    height: 361px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carrossel > :nth-child(2).ativo h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #06121E;
    margin: 0;
    
}
.carrossel > :nth-child(2).ativo p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #06121E;
    text-align: center;
    
}
.carrossel > :nth-child(2).ativo button {
    padding: 1rem 7rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #085EB3 0%, #103356 50%,#06121E
    100% );
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #F4F4F4;  
    cursor: pointer;
}
.carrossel > :nth-child(1).ativo,
.carrossel > :nth-child(3).ativo {
    width: 579px;
    height: 393px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}