.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
.sobre__box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sobre__content {
    width: 570px;
    height: 529px;
    position: relative;
}
.sobre__content figure {
    position: absolute;
}

.sobre__content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sobre__content figure#sobre-img1 {
    width: 310px;
    height: 192px;
    top: 200px;
    left: 0;
    margin: 0;
}
.sobre__content figure#sobre-img2 {
    width: 278px;
    height: 310px;
    top: 0;
    left: 230px;
    z-index: 2;
    margin: 0;
}
.sobre__content figure#sobre-img3 {
    width: 229px;
    height: 255px;
    top: 255px;
    left: 330px;
    z-index: 3;
    margin: 0;
}
.sobre__text {
    width: 464px;
    height: 529px;
}



.sobre__text .sub__title {
   font-size: 3rem;
   font-weight: 700;
   line-height: 3.5rem; 
   margin-bottom: 2rem;
   margin-top: 1rem;
}
.sobre__text .sub__title::after {
    content: '';
    display: block;
    height: 5px;
    width: 5rem;
    background-color: #06121E;
}
.sobre__text article {
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #06121E; 
}

@media (max-width:1120px) {
    .sobre__box {
        flex-direction: column;
        align-items: center;
    }
    
    .sobre__text {
        width: 364px;
        height: 429px;
    }
    .sobre__content figure#sobre-img1 {
        width: 345px;
        height: 227px;
        top: 200px;
        left: -25px;

    }
    .sobre__content figure#sobre-img2 {
        width: 288px;
        height: 320px;
        top: 40px;
        left: 200px;
    }
    .sobre__content figure#sobre-img3 {
        width: 240px;
        height: 300px;
        top: 235px;
        left: 350px;
    }
    .sobre__text {
        max-height: 80%;
    }
    .sobre__text article {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 650px) {
    .sobre__content {
        width: 300px;
        height: 290px;
    }
    .sobre__text {
        width: 300px;
    }
    
    .sobre__content figure#sobre-img1 {
        width: 212px;
        height: 132px;
        top: 140px;
        left: -50px;

    }
    .sobre__content figure#sobre-img2 {
        width: 190px;
        height: 212px;
        top: 0;
        left: 75px;
    }
    .sobre__content figure#sobre-img3 {
        width: 156px;
        height: 175px;
        top: 130px;
        left: 170px;
    }
    .sobre__text .sub__title {
        font-size: 2rem;
    }
    .sobre__text .sub__title::after {
        width: 3.5rem;
    }
    .sobre__text {
        max-height: 50%;
    }
   
    .sobre__text article {
        font-size: 1rem;
        line-height: 1.1rem;
    }
 }
 @media (max-width: 400px) {
    .sobre__content figure#sobre-img1 {
        width: 192px;
        height: 102px;
        top: 165px;
        left: -20px;

    }
    .sobre__content figure#sobre-img2 {
        width: 160px;
        height: 182px;
        top: 50px;
        left: 105px;
    }
    .sobre__content figure#sobre-img3 {
        width: 126px;
        height: 145px;
        top: 165px;
        left: 190px;
    }
 }