
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'navbar.css';
@import 'home.css';
@import 'duvidasFrequentes.css';
@import 'sobre.css';
@import 'contato.css';
@import 'footer.css';
@import 'servicos.css';
@import 'modal.css';


[data-animation = "scroll"] {
    opacity: 0;
    transition: .5s;
    transform: translate3d(-30px, 0, 0);
}
[data-animation = "scroll"].animation-scroll {
    opacity: 1;
    transition: .5s;
    transform: translate3d(0, 0, 0);
}